.env
.env.local
node_modules

rag-venv

docker/

app/api
app/embeddings
app/models
app/middleware

app/agents
app/evaluation
app/graph
app/schemas

Makefile

scripts/

pyproject.toml


# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class